.capture-box {
  position: relative;
  .capture-edit {
    span {
      display: inline-block;
      cursor: pointer;
    }
  }
  .capture-box-title {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    .capture-box-origin {
      font-size: 10px;
      margin-top: 2px;
      color:#795f3e;
    }
  }
  .capture-markdown {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    img {
      width: 100%;
    }
    p {
      font-size: 14px;
      line-height: 1.7em;
      overflow: auto;
    }
  }
}
