.category-pannel {
  padding: 16px;
  // 覆盖蚂蚁金服的样式
  .category-item {
    margin: 0 6px;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #f7f7f7;
    display: inline-block;
    border: 1px solid #e9e9e9;
    color: rgba(0, 0, 0, 0.65);
    span {
      &:nth-child(1) {
        margin-right: 4px;
        font-size: 12px;
      }
      &:nth-child(2) {
        color: #0e77ca;
        cursor: pointer;
      }
    }
  }
}
