.layout-carousel {
  position: relative;
  .carousel-add-open {
    width: 32px;
    height: 32px;
    position: absolute;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    right: 0;
  }
  .carousel-add {
    background-color: #fff;
    padding: 10px;
  }
  .carousel-list {
    background-color: #fff;
    margin: 10px 0;
    .carousel-item {
      float: left;
      height: 200px;
      margin: 8px 6px;
      &:hover {
        .carousel-opt {
          display: block;
        }
      }
      .carousel-opt {
        position: absolute;
        display: none;
        background: #000000;
        opacity: .6;
        top:0;
        bottom: 0;
        width: 100%;
        text-align: center;
        line-height: 200px;
        cursor: pointer;
      }

    }
    .carousel-card {
      padding: 10px 16px;
    }
  }
}
