.layout-carousel {
  position: relative;
  .carousel-add {
    background-color: #fff;
    padding: 10px;
  }
  .carousel-list {
    background-color: #fff;
    margin: 10px 0;
    .carousel-item {
      float: left;
      max-height: 160px;
      margin: 8px 6px;
      &:hover {
        .carousel-opt {
          display: block;
        }
      }
      .carousel-opt {
        position: absolute;
        display: none;
        background: #000000;
        opacity: .6;
        top:0;
        bottom: 0;
        width: 100%;
        cursor: pointer;
        .carousel-opt-btn {
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }
  }
}
