#app {
  .container {
    padding: 16px;
    .container-box {
      background-color: #f3f3f3;
      padding: 10px;
      box-shadow:5px 5px rgba(0,0,0,.6);
    }
  }
  .ant-card-body {
    padding: 6px;
  }
  .common-pannel {
    background-color: #fff;
    padding: 10px;
  }
  .common-operate {
    position: relative;
    text-align: right;
    margin-top: 8px;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 2px solid #f3f3f3;
  }
  .common-fixd {
    position: fixed;
    bottom: 0;
    left: 256px;
    right: 16px;
    z-index: 8;
    background-color: #00c9ff;
    text-align: center;
    line-height: 36px;
  }
}
